.content {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}



.content .content_tag {
    font-size: .857143em;
    font-weight: 800;
    line-height: 150%;

    width: fit-content;

    border-radius: .25em;
    box-shadow: inset 0 0 0 0 transparent;
    background-color: var(--color-main);
    padding: .3333em 1em;
}

.content .content_tag:hover {
    background-color: var(--color-white);
    box-shadow: inset 0 0 0 .125em var(--color-main);
}

.content .content_title {
    font-size: 1.5em;
    font-weight: 800;
    line-height: 145%;
}

.content .content_date {
    color: var(--color-black);

    font-size: .875em;
    font-weight: 500;
}

.content .content_title:hover {
    color: var(--color-main);
    cursor: pointer;
}

.content .content_description {
    color: var(--color-gray);
    font-weight: 500;
    line-height: 150%;
}


/* AUTOR -------------------------- */

.author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.author_image {
    width: 32px;
}

.author_name {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
}

.author_name:hover {
    color: var(--color-main);
    cursor: pointer;
}