.content {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.content_tag {
    width: fit-content;

    border-radius: 4px;
    box-shadow: inset 0 0 0 0 transparent;
    background-color: var(--color-main);
    padding: 4px 12px;

    font-weight: 800;
    font-size: 14px;
}

.content_tag:hover {
    background-color: var(--color-white);
    box-shadow: inset 0 0 0 1px var(--color-main);
}



.content .postDate {
    font-weight: 400;
}

.content h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 150%;
}

.content h1:hover {
    color: var(--color-main);
    cursor: pointer;
}

.content .postDate {
    color: var(--color-black);

    font-size: 14px;
    font-weight: 500;
}

.content p {
    color: var(--color-gray);
    font-weight: 500;
}


/* AUTOR -------------------------- */

.author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.author_image {
    width: 32px;
}

.author_name {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
}

.author_name:hover {
    color: var(--color-main);
    cursor: pointer;
}