@media (max-width: 400px) {

    html {
        font-size: 14px;
    }

    body {
        background-color: orange;
    }

    main {
        max-width: 327px;
    }
    
    picture img {
        width: 100%;
    }
    
}

