@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    font-size: 16px;
    line-height: 150%;
}

:root {
    /* Colors */
    --color-main: hsl(47, 88%, 63%);
    --color-gray: hsl(0, 0%, 50%);
    --color-white: hsl(0, 0%, 100%);
    --color-black:hsl(0, 0%, 7%);

    /* Font */
    --font-family-main: 'Figtree', Sans-serif;
    --font-weight-bold: 500;
    --font-weight-extrabold: 800;
}

body {
    height: 100vh;

    position: relative;
    background: var(--color-main);
    font-family: var(--font-family-main);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}