/* container */

.card {
  box-sizing: border-box;
  height: 50.1rem;  
  width: 32.7rem;
  padding: 2.25rem;
  border-radius: 2rem;
  border: 0.15rem solid var(--color-black);
  background-color: var(--color-white);
  transition: box-shadow 0.6s ease-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover {
  box-shadow: .8rem .8rem 0 var(--color-black);
}


/* imagem */

.cardImage {
  height: 20.08rem;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}


/* conteúdo de texto */

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
  margin: 2.4rem 0;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}
.cardHeader > span {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: .3rem;
  background-color: var(--color-yellow);
  width: 7.3rem;
  height: 2.5rem;

  font-weight: 900;
  font-size: 1.2rem;
}
.cardHeader > small {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 600;
}

.cardTitle {
  font-size: 2rem;
  font-weight: var(--weight-extra-bold);
  color: var(--color-black);
  transition: color 0.5s ease;
  line-height: 2.4rem;
}
.cardTitle:hover {
  color: var(--color-yellow);
}

.cardDescription {
  font-size: 1.39rem;
  font-weight: 600;
  color: var(--color-grey);
  line-height: 2.1rem;
}


/* autor */

.author {
  font-size: 1.43rem;
  font-weight: 900;
  line-height: 1.2rem;
  
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.authorPicture {
  width: 3.2rem;
}