@media screen and (min-width: 1080px)  {
  .card {
    width: 38.3rem;
    height: 52.2rem;
  }

  .cardCover {
    width: 100%;
  }

  .cardHeader > span {
    width: 8.2rem;
    height: 3rem;
    font-size: 1.4rem;
  }

  .cardHeader > small {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .cardTitle {
    font-size: 2.4rem;
    line-height: 1.2rem;
  }

  .cardDescription {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

}